@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --base-color: #11121a;
  --line-color: #42434a;
  --hover-color: #222533;
  --text-color: #e6e6ef;
  --acent-color: #5e63ff;
  --secondary-text-color: #b0b3c1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar {
  height: 100vh;
  height: 100dvh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-color);
  border-right: 1px solid var(--line-color);
  position: sticky;
  top: 0;
  align-self: start;
  overflow: hidden;
  text-wrap: nowrap;
  transition: all 300ms ease-in-out;
}
#sidebar ul {
  list-style: none;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}
#sidebar ul li.active a {
  color: var(--acent-color);
  svg {
    fill: var(--acent-color);
  }
}
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background: var(--hover-color);
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu a {
  padding-left: 2em;
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
#sidebar.close {
  padding: 5px;
  width: 50px;
}
#sidebar.close span {
  display: none;
}
#sidebar.close .dropdown-btn svg:last-child {
  display: none;
}
.dropdown-btn svg {
  transition: 200ms ease;
}
.rotate svg:last-child {
  rotate: 180deg;
}
#toggle-btn {
  margin-left: auto;
  background: none;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-color);
}

/* Main */
main {
  padding: min(30px, 7%);

  p {
    color: var(--secondary-text-color);
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.container {
  border: 1px solid var(--line-color);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2,
  p {
    margin-top: 1em;
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  .container {
    border: none;
    padding: 0;
  }
  #sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-color);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li {
      height: 100%;
    }
    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }
    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--line-color);
      border-top: 1px solid var(--line-color);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }
      a {
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }
  }
}
