* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: 100vh;
}

button {
  padding: 0.25rem 0.7rem;
  border: none;
  background: #1b1d1c;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    background: #424745;
  }
}

dialog {
  margin: auto;
  border: 1px solid #8b8b8b;
  padding: 0.5rem;
  animation: close-dialog .3s ease-out;
  h2 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #8b8b8b;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }
  input {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    outline: none;
    color: #1b1d1c;
  }
  &:open{
    animation: open-dialog .3s ease-in;
  }
  &::backdrop {
    background: rgba(0, 0, 0, 0.2);
  }
}

@keyframes open-dialog{
  from{
    opacity: 0;
    transform: scale(0);
    display: none;
  }
  to{
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}
@keyframes close-dialog{
  from{
    opacity: 1;
    transform: scale(1);
    display: block;
  }
  to{
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}