*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background: transparent;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 12px;
    color: black;
    cursor: pointer;
    &.active{
        background: black;
        color: white;
    }
    &:hover{
        background: black;
        color: white;
    }
}

.container{
    background: #c96969;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #dddd;
    padding: 5px;
    .nav-action{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
    background: black;
    a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px 12px;
        
        &:last-child{
            margin-top: auto;
        }
    }
}
main{
    grid-area: main;
    text-align: center;
    padding: 10px 40px;
    h2{
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
    }

}
footer{
    grid-area: footer;
    font-size: 12px;
    background: #dddddd;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}