@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
input,
button{
    font-family: "Poppins", sans-serif;
    font-size: clamp(.95rem, 2vw, 1.2rem);
}
a{
    text-decoration: none;
}

.login{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 3vw, 2rem);  
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);
    position: absolute;
    inset: 0;
}
.login_form{
    position: relative;
    width: min(450px, 100%);
    margin-inline: clamp(0.2rem, 3vw, 1.5rem);
    color: #fff;
    padding: 2rem clamp(1.8rem, 4vw, 2.5rem);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: clamp(.4rem, 2vw, 1rem);
    background: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
}
.login_title{
    text-align: center;
    font-size: clamp(1.8rem 4vw, 2.2rem);
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
}
.login_inputs, .login_box{
    display: grid;
}
.login_box{
    position: relative;
    margin-bottom: clamp(1.2rem, 3vw, 1.7rem);
}
.login_input{
    width: 100%;
    padding: clamp(0.7rem, 2vw, 0.75rem) 2.5rem clamp(.5rem, 1vw, .5rem) .5rem;
    font-size: clamp(.9rem 2vw, .75rem);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
}
.login_label{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    font-size: clamp(0.85rem, 2vw, 1rem);
    color: #fff;
    /* background: rgb(33, 40, 10); */
    pointer-events: none;
    transition: .2s ease-in-out;
    padding: 0 0.3rem;
}
.login_input:focus+.login_label, 
.login_input:not(:placeholder-shown)+.login_label{
    top: 0.1rem;
    left: 0.7rem;
    font-size: clamp(.8rem, 1.5vw, .9rem);
    background: rgb(30, 29, 16);
}
.login_box i{
    position: absolute;
    right: clamp(.5rem, 1.5vw, 0.75rem);
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
}
.login_check{
    margin-bottom: clamp(0.7rem, 3vw, 1rem);
}
.login_check, .login_check-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
}
.login_check-input{
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
    accent-color: #000;
}
.login_forget{
    color: #fff;
}
.login_forget:hover{
    text-decoration: underline;
}
.login_button{
    width: 100%;
    padding: clamp(.7rem, 2vw, .8rem);
    margin-bottom: 1rem;
    background: #fff;
    border: none;
    border-radius: clamp(.3rem, 2vw, .5rem);
    color: #000;
    font-weight: 600;
    font-size: clamp(.9rem, 2vw, 1rem);
    cursor: pointer;
}
.login_register{
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw, .9rem);
}
.login_register a{
    color: #fff;
    font-weight: 500;
}
.login_register a:hover{
    text-decoration: underline;
}